Keter prevents apps from omitting `Server:` header from responses

I've arrived here via long convoluted path; but doesn't matter — from keter's PoV, the core of the issue is very simple.

If an app wishes to **remove `Server:` header from its responses** for whatever reason (perhaps by config, perhaps via runtime decision, even statically) — it cannot do that, if running under keter.

Minimized repro:  [dummy-no-server-hdr.keter.zip](https://github.com/user-attachments/files/27020869/dummy-no-server-hdr.keter.zip). It's as simple as it sounds... If the app does set `Server: SimpleHTTP/0.6 Python/3.9.6` header or whatever (edit the unpacked bundle, commenting override) — keter forwards it no problem:

```
$ curl -i localhost/
HTTP/1.1 200 OK
Transfer-Encoding: chunked
Server: SimpleHTTP/0.6 Python/3.9.6
Date: Thu, 23 Apr 2026 17:20:31 GMT
Vary: Accept-Encoding

Hello from PID 43222 listening on port 43124 !
This is dummy app.
```

But, should the app try to *not send any Server: header at all* — this will fail, keter's warp will inject its own `Server: Warp/3.3.23`:

```
$ curl -i localhost/
HTTP/1.1 200 OK
Transfer-Encoding: chunked
Server: Warp/3.3.23
Date: Thu, 23 Apr 2026 17:32:27 GMT
Vary: Accept-Encoding

Hello from PID 43983 listening on port 43126 !
This is dummy app.
```

-------------

I'd like to avoid elaborating motivational background on why one might seriously want to suppress default Server headers — and instead, will just refer to the RFC, which very clearly permits that. RFC 9110 [§10.2.4](https://www.rfc-editor.org/rfc/rfc9110.html#name-server):
> **An origin server MAY generate a Server header field in its responses.**

And so I think it's an issue that Keter doesn't allow it. (Obviously, unintentionally, via [defaults of warp](https://hackage-content.haskell.org/package/warp-3.4.13/docs/Network-Wai-Handler-Warp.html#v:setServerName))


IIRC, if you want to get a perfect score on Mozilla Observatory, then you need to omit the server header.

That's as good a reason as any, IMO.

I tried to implement the idea here: https://github.com/snoyberg/keter/pull/339
At this draft to omit the "Server" header you have to write in the keter-config.yaml:
```
server-name: ""
```
It seems that this is not very convenient and probably another option like `omit-server-name = true/false` should be created?
Also, here I propose to change the default behavior for the Server field: now it is `Keter/<version>`.

A huge drawback of the current solution: if "Server" is disabled, the application cannot set its value - this follows from the setServerName function.

Yeah these approaches don't seem ideal.

I think all we need to do here is `setServerName ""` when configuring Warp. I don't think we need to add more configuration options in keter for this.

If so, the fix is ​​quite simple: https://github.com/snoyberg/keter/pull/341