Unnecessary file reloading

There is the problem with unnecessary file reloading in version 2.1.10.
To reproduce, run the command `tail -f log/keter.log | grep "Watched file"` and put .keter file into the incoming folder.
If this is a new application you will see:
```
... Watched file added
... Watched file modified
... Watched file unknown
```
If this is a new version of an existing application, you will see
```
... Watched file modified
... Watched file modified
... Watched file unknown
```
Second line here "Watched file modified" already is the reaction of `FSN.watchTree` on ongoing loading of the .keter file. This leads to a call to the reload function, though the first action (added and modified respectively) was not finished. Moreover, the first action could be started when the .keter file was not fully loaded - in this case you can see the message looks like "2025-08-06 20:41:40.91|Keter.AppManager:259|Error> Error occured when launching bundle "py1": Codec.Compression.Zlib: premature end of compressed data stream".

The last line "Watched file unknown" is the signal `unknownCloseWrite` from `FSN.watchTree`. This is the real finish of file loading and keter has to start or reload application in this case only.

To demonstrate the problem deeper you can create a huge application. For example you can put some giant file into the .keter archive (~1GB). It will load for a while and you can see a huge amount of reloading and errors of decompression.

Could you write a failing test case which accurately reproduces this? We have a couple of [integrated NixOS tests][0] which should be a good starting point.

[0]: https://github.com/snoyberg/keter/blob/master/flake.nix#L28-L29

Ah yes, absolutely!

Indeed keter does "false start" reloading of live bundles; there's a chance where it tries to unpack only-partially-yet rewritten bundle file (causing the obvious `Codec.Compression.Zlib: premature end of compressed data stream` error or a similar tar-only variant `Unexpected EOF in archive`).

This is especially easy to see with larger bundles, and/or over slow network. I've seen this in production; it was so bad, that we implemented a workaround of replacing `scp foo.keter target-server:/opt/keter/incoming/` with `scp foo.keter target-server:/opt/keter/paused/ && ssh target-server 'mv -v /opt/keter/{paused,incoming}/foo.keter'`. This, of course, works because that `mv` is guaranteed atomic VFS operation; and so, it never triggers the false-start with direct file write.

... And because of how easy the workaround was, I'd never remembered to report this as a bug 🤦  And completely forgot about it.

Perhaps `dd if=foo.keter of=incoming/foo.keter bs=1k speed=100` may help in testing this, as a synthetically slow file copy. (Caution: this uses apple-specific `speed=` option of `dd`).

In short: yes, definitely a bug, can confirm. Probably from misuse of `inotify` api...



> we implemented a workaround of replacing `scp …` with `scp … && ssh target-server 'mv -v …'`. This, of course, works because that mv is guaranteed atomic VFS operation; and so, it never triggers the false-start with direct file write.

I've been thinking about this today, and I'm not sure there's a better way to approach this problem than this.

I've tested the same approach, and I see better behaviour in the logs.

```
2025-08-19 18:28:36.55|Keter.Main:192|Info> Watched file added: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:37.43|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:37.61|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:37.79|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:37.79|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:37.96|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:37.96|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:37.97|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:37.97|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.14|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.14|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.14|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.14|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.15|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.32|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.33|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.34|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.36|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.36|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.37|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.37|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.37|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.50|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.50|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.52|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.54|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.54|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.55|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.55|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.85|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.86|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.88|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.88|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.88|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.88|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.88|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:38.88|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:39.03|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:39.03|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:39.21|Keter.Main:195|Info> Watched file modified: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:39.39|Keter.Main:198|Info> Watched file unknown
2025-08-19 18:28:41.88|Keter.Main:189|Info> Watched file removed: /opt/keter/incoming/companyquery.keter.part
2025-08-19 18:28:41.88|Keter.Main:192|Info> Watched file added: /opt/keter/incoming/companyquery.keter
2025-08-19 18:28:41.88|Keter.AppManager:263|Info> Reloading from: Just App{appId=companyquery}AIBundle "/opt/keter/incoming/companyquery.keter" 1755628119
2025-08-19 18:28:41.88|Keter.App:74|Info> Unpacking bundle '"/opt/keter/incoming/companyquery.keter"'
2025-08-19 18:28:42.03|Keter.App:198|Info> Sanity checks passed
2025-08-19 18:28:42.03|Keter.HostManager:73|Info> Reserving hosts for app companyquery: companyquery.co.uk www.companyquery.co.uk
2025-08-19 18:28:42.04|Keter.Conduit.Process.Unix:333|Info> Process created: /opt/keter/temp/companyquery-915/chparse
2025-08-19 18:28:42.05|Keter.Conduit.Process.Unix:333|Info> Process created: /opt/keter/temp/companyquery-915/chstream
2025-08-19 18:28:42.05|Keter.Conduit.Process.Unix:333|Info> Process created: /opt/keter/temp/companyquery-915/companyquery
2025-08-19 18:28:44.05|Keter.HostManager:186|Info> Reactivating app companyquery.  Old hosts: companyquery.co.uk www.companyquery.co.uk. New hosts: companyquery.co.uk www.companyquery.co.uk.
2025-08-19 18:29:04.05|Keter.App:639|Info> Sending old process TERM signal: companyquery
2025-08-19 18:29:04.05|Keter.App:324|Info> Killing running process '724756' running on port: 43263
```

I can only think of a couple of other approaches, but neither are great.

1. Periodically check the size of the bundle, and if after a some consecutive measurements the size remains stable, we consider the bundle stable and then load it. I don't like this though, because an upload over an unreliable network could cause the size of the bundle to stay the same for a long enough period of time that the system considers the bundle stable when it isn't.
2. Only load the bundle when its filename matches (or contains) the sha256 of the contents of the file. This is robust, but it means the user _must_ change their deployment process such that the filename of their keter bundle contains the sha256 of the bundle.

The current implementation feels like a bit of a mess, but as far as I can tell it does work as expected. We could perhaps just downgrade some of the logs and add a note in the documentation about doing this `scp / mv` dance for more correct behaviour.

WDYT?

it says it's in the file header.
but even if it weren't it doesn't matter, without compression it's not a valid keter file. so if there is no crc then you don't have to load it.

Where does it say that? I'm reading [RFC 1952, section 2.3.1][RFC], and it shows in the diagram that the CRC32 comes _after_ the compressed bytes.

> if there is no crc then you don't have to load it.

Right, but the point is about reading the tarball (which you have to do to read the CRC). If you try and read the tarball before the full file is in place, it errors with the lines I demonstrated above.

[RFC]: https://www.rfc-editor.org/rfc/rfc1952#section-2.3.1

right there: https://github.com/jappeace/zip-codec/blob/master/src/Zip/Codec/FileHeader.hs#L49
but that maybe for zip files, which is not gzip apparently.

Yeah so no crc means you error,
but if the file is still changing, which you get with that slow dd, you'd just setup a debounce I guess?
Waiting like 5 seconds for no more additional changes to come in would also be okay I guess.

> This leads to a call to the reload function, though the first action (added and modified respectively) was not finished.

It should also have backpressure per app being loaded. for example, by running only a single thread per .keter file.



The bugfix for Linux looks pretty simple:
```
#ifdef linux_TARGET_OS
                        FSN.Modified fp _ _ -> do
                            rio $ $logInfo $ "Watched file modified: " <> T.pack fp
                            return $ Left []
                        FSN.CloseWrite fp _ _ -> do
                            rio $ $logInfo $ "Watched file close write: " <> T.pack fp
                            return $ Right fp
#else
                        FSN.Modified fp _ _ -> do
                            rio $ $logInfo $ "Watched file modified: " <> T.pack fp
                            return $ Right fp
#endif
```
For other systems, if we want to check gzip crc here, we have to unpack file here and we will get the same error Codec.Compression.Zlib (i.e. no need to check crc, simple decompress will be enough). But there is mechanics to unpack already: App.withConfig which is called from App.start and App.reload. To not double decompress mechanics I think we have to improve current decompress mechanics. It might be some sort of mutex by bundle name and bundle timestamp. If one process has unpacked the bundle successfully, other processes have to be skipped. Only one modified process with succeeded unpacking should start application.

Unpacking inside Main.startWatching is bad idea, I think, because FSN.watchTree will be locked while decompressing.

yes for linux that may work.


> Unpacking inside Main.startWatching is bad idea, I think, because FSN.watchTree will be locked while decompressing.

it looks to be single-threaded indeed.
yes it needs to squash the excess inotify events according to some debounce, I think.


---

can you even write an automated test for OSX? we don't do windows right now (I think I tried 😅 )
would be good if we could test on osx, I don't know how to right now.


> can you even write an automated test for OSX? we don't do windows right now (I think I tried 😅 )
> would be good if we could test on osx, I don't know how to right now.

I develop on MacOS, but when I run the NixOS tests it spins up a Linux VM.

I doubt anyone is actually running keter on MacOS, so I think conditionally handling `FSN.CloseWrite` as above and falling back to slightly broken behaviour when not on Linux is fine.

@ulidtko IIRC, you've previously described that you expect keter to reload the bundle when you touch it. Is that right? If so, I think the proposed fix above wouldn't work.

@jezen yes, some our rundecks / automation scripts do rely on `touch incoming/foo.keter` idiom to trigger a downtime-free soft-restart. I don't think it's super-critical to keep this behavior working (trivial to work-around), but indeed formally that'd be a breaking change.



When I tried to make test, I found the problem: copy with `rsync` works different:
```
2025-08-26 22:27:58.00|Keter.Main:194|Info> Watched file added: /home/ktak/src/keter/incoming/.py1.keter.RLOjUZ
2025-08-26 22:27:58.00|Keter.Main:211|Info> Watched file unknown: ModifiedAttributes {eventPath = "/home/ktak/src/keter/incoming/.py1.keter.RLOjUZ", eventTime = 2025-08-26 22:27:58.003871674 UTC, eventIsDirectory = IsFile}
2025-08-26 22:27:58.00|Keter.Main:197|Info> Watched file modified: /home/ktak/src/keter/incoming/.py1.keter.RLOjUZ
2025-08-26 22:27:58.00|Keter.Main:200|Info> Watched file close write: /home/ktak/src/keter/incoming/.py1.keter.RLOjUZ
2025-08-26 22:27:58.00|Keter.Main:211|Info> Watched file unknown: ModifiedAttributes {eventPath = "/home/ktak/src/keter/incoming/.py1.keter.RLOjUZ", eventTime = 2025-08-26 22:27:58.003878513 UTC, eventIsDirectory = IsFile}
2025-08-26 22:27:58.00|Keter.Main:190|Info> Watched file removed: /home/ktak/src/keter/incoming/.py1.keter.RLOjUZ
2025-08-26 22:27:58.00|Keter.Main:194|Info> Watched file added: /home/ktak/src/keter/incoming/py1.keter
```
As you can see here, there are no other signals for py1.keter - only Added. It looks like `rsync` at first make a copy into the temporary file, after that it is renamed. So the fix I suggested may break the `rsync` scenario.

* New files send `Added` event on the watched *directory* `incoming`
* Modification of present files send `CloseWrite` (with caveats) on the watched file

And rsync is essentially doing the atomic-mv trick in-place.

I'd suggest to **filter out FS watch events**, acting only on `.keter` ones, and ignoring anything else (e.g. `.py1.keter.RLOjUZ`). This way, rsync and similar mechanisms neatly fit together with a simple file watching logic.

The "should" requirement in README then gets promoted to a "must":
https://github.com/snoyberg/keter/blob/f5874e49dcf533f0df289e3f1df90f1a43ddcd7b/README.md?plain=1#L73-L74

I decided not to check gzip unpacking of the loaded file: it will fail if user will load some non-gzipped file.
I did waiting while the file loading stops changing (the first proposal by @jezen). It will cover the cases with normal loading. If file will be loaded very slow, the problem still there.

Hi again @ktak-007, you say

> sometimes in Linux we can't see the signal CloseWrite 

which I take as you may be still confused about the `inotify` API. We're not doing recursive tree watching in keter, only on a single directory. And on single directory, inotify api is **rock solid**. Let's make sure we fully understand what it does.

Here I'd sketched a little tiny something for you: https://gist.github.com/ulidtko/7850191d9a06003929322880146542c1

If you run it (only requires bash, coreutils, and inotify-tools) -- you'll see output sort of like this:
```
$ ./inotify-test.sh
mkdir: created directory '/tmp/test.n2q/watched-target'
Setting up watches.
Watches established.
(SYNCED)

Scenario A: creating file under target with direct open() write() close()
/tmp/test.n2q/watched-target/ CREATE direct-write.txt
/tmp/test.n2q/watched-target/ MODIFY direct-write.txt
/tmp/test.n2q/watched-target/ MODIFY direct-write.txt
/tmp/test.n2q/watched-target/ MODIFY direct-write.txt
/tmp/test.n2q/watched-target/ CLOSE_WRITE,CLOSE direct-write.txt

Scenario B: moving file into testdir (atomically)
/tmp/test.n2q/watched-target/ MOVED_TO atomic-mv.txt
```

I recommend to uncomment line 9 and run it a whole bunch of times, on a linux machine -- just to see for yourself, that the `MOVED_TO` event, and respectively the `CLOSE_WRITE` event, **always arrive**. I didn't even add synchronization at the end of main; there's a theoretical race-condition there in my script with MOVED_TO, but bash is so slow it just never triggers.

This is the sandwich we're working with:
```
    ┌───────┐     
    │ keter │     
    │   │   │     
    └───┼───┘     
        │         
 ┌──────▼───────┐ 
 │   fsnotify   │ 
 │              │ 
 │   hinotify   │ 
 └──────┬───────┘ 
        │         
┌───────▼────────┐
│  │  inotify  │ │
│  └───────────┘ │
│                │
│ linux kernel   │
└────────────────┘
```

and the script illustrates how things are on the bottom-most layer. It's very solid there. There's no "sometimes events don't get sent".

Now, I also can't so far exclude bugs in the 2 libraries (the middle layer).
 * We can see direct 1-to-1 translation of inotify api in [hinotify](https://hackage.haskell.org/package/hinotify); and it's implemented via `foreign import ccall` FFI, as expected.
 * We can also see that one layer up, [fsnotify](https://hackage.haskell.org/package/fsnotify) the API morphs into something slightly different (because that one is claiming to be cross-platform).
 * Maybe there're mistakes in how the mapping (of inotify events, to fsnotify events) is done. Maybe it loses detail; maybe it conflates events on directories with events on files; maybe it map both `MOVED_TO` and `CREATE` events into the single case `Added`. That remains to be investigated.

But I am very confident we can get 100% reliable reload on Linux.
